// Seat
body.theme-seat {
    .brand-logo {
        max-width: 200px;
    }
    .heading {
        .title {
            // title overrides here
            font-family: var(--font-family-primary);
        }
        .subtitle {
            // subtitle overrides here
            font-family: var(--font-family-primary);
        }
    }
}
