*, 
*:before, 
*:after {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-family: var(--font-family-default);
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

// Add height to the Vue required elements
#__nuxt, 
#__layout {
    height: 100%;
}