// web-fonts //

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// -- ExtraLight -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-ExtraLight.ttf");
	font-style: normal;
	font-weight: $font-weight-extra-light;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-ExtraLightItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-extra-light;
}

// -- Light -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-Light.ttf");
	font-style: normal;
	font-weight: $font-weight-light;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-LightItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-light;
}

// -- Regular -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-Regular.ttf");
	font-style: normal;
	font-weight: $font-weight-regular;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-RegularItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-regular;
}

// -- Medium -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-Medium.ttf");
	font-style: normal;
	font-weight: $font-weight-medium;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-MediumItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-medium;
}

// -- SemiBold -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-SemiBold.ttf");
	font-style: normal;
	font-weight: $font-weight-semi-bold;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-SemiBoldItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-semi-bold;
}

// -- Bold -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-Bold.ttf");
	font-style: normal;
	font-weight: $font-weight-bold;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-BoldItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-bold;
}

// -- ExtraBold -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-ExtraBold.ttf");
	font-style: normal;
	font-weight: $font-weight-extra-bold;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-ExtraBoldItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-extra-bold;
}

// -- Black -- //
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-Black.ttf");
	font-style: normal;
	font-weight: $font-weight-black;
}
@font-face {
	font-family: Muli;
	src: url("~assets/fonts/Muli/Muli-BlackItalic.ttf");
	font-style: italic;
	font-weight: $font-weight-black;
}
