.heading {
    text-align: center;
    .title {
        font-family: 'Muli', serif;
        font-weight: 700;
        font-size: 80px;
        letter-spacing: 1px;
        color: var(--color-default);

        &.huge {
            @media screen and (min-width: 992px) {
                font-size: 150px;
                margin: 1em 0 .5em;
            }
            
        }
    }
    
    .subtitle {
        font-family: 'Muli', serif;
        font-weight: 400;
        font-size: 40px;
        word-spacing: 5px;
        padding-bottom: 15px;
        max-width: 992px;
        margin: auto;
        color: var(--color-default);
    }
}