.button {
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 7px;
    cursor: pointer;
    font-family: var(--font-family-primary);
    transition: background-color .3s, border .3s, color .3s;

    &:last-child {
        margin-right: 0;
    }

    &--primary  {
        border: 1px solid var(--color-default);
        color: var(--color-default);
        &:hover {
            color: var(--color-white);
            background-color: var(--color-default);
        }
    }
    &--secondary {
        border: 1px solid var(--color-default);
        color: var(--color-default);
        &:hover {
            border: 1px solid var(--color-black);
            color: var(--color-orange);
            background-color: var(--color-black);
        }
    }
}
