.container {
    margin: 0 auto;
    &-narrow {
        max-width: var(--size-l);
    }
}

// Temp
.image-page-main {
    background-image: url('/images/nature-engine.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}