.layout-theme {
    color: var(--color-default);
    min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

main {
    display: flex;
    text-align: center;
    align-items: center;
}